* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: sans-serif; background: #1e1e1e; height: 100vh; display: flex; flex-direction: column; }

.tabs { 
    display: flex; 
    background: #252526; 
    border-bottom: 2px solid #333; 
    padding: 5px;
    gap: 5px;
}

.tab-btn {
    flex: 1;
    padding: 10px;
    background: #333;
    color: #aaa;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
}

.tab-btn.active { background: #007acc; color: white; }
.preview-btn { background: #4caf50 !important; color: white; }

.container { flex: 1; position: relative; }

.tab-content {
    display: none; /* By default saare chhup jayenge */
    height: 100%;
    width: 100%;
}

.tab-content.active { display: block; } /* Jo active hoga wo poori screen lega */

textarea {
    width: 100%;
    height: 100%;
    background: #1e1e1e;
    color: #dcdcdc;
    border: none;
    padding: 15px;
    font-family: monospace;
    font-size: 16px;
    outline: none;
    resize: none;
}

#output {
    width: 100%;
    height: 100%;
    border: none;
    background: white;
}
